html, body {
 font-size: 16px;
}

body {
  background: #16BFFD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #7B45B7, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #7B45B7, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
  Safari 7+ */
  background-repeat: no-repeat;
  height: 100vh;
}

form {
  margin: 0 auto;
  width: 318px;
}

input[type="text"] {
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 4px #000000ad;
}
input[type="text"]::placeholder {
  color: lightgray;
  font-size: 14.5px;
}
input[type="submit"] {
  font-family: "PT Sans";
  font-size: 19px;
  border: none;
  background-color: #189518;
  color: white;
  padding: 0.5rem 1.25rem;
}


.field {
  display: flex;
}
.field-checkboxes { margin-top: 2rem; }
.field-checkbox {
  display: flex;
  margin-bottom: 1.5rem;
  color: #9fabd3;
  p {
    margin: 0;
    margin-left: 1.5rem;
  }
}
.field-submit {
  text-align: right;
  justify-content: flex-end;
}

.form-wrapper {
  background-color: #2A2A68;
  width: 375px;
  margin: 4rem auto;
  padding: 1.5rem;
  color: white;
  border-radius: 14px;
  box-shadow: 0px 1px 4px #000000ad;
}
.form-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #070749;
  padding: 0.75rem 1.5rem;
  margin: -1.5rem;
  margin-bottom: 1.5rem;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
